*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.center{
    display: flex;
    max-width: 1100px;
    padding: 0 2%; 
    margin: 0 auto;
    flex-direction: column;
}

section.main{
    padding: 20px 0 80px 0;
    background-color: #04222f;
    background-size: cover;
}

.menu{
    display: flex;
    width: 100%;
}


.logo-menu a{
    width: 100%;
    text-decoration: none;
    white-space: nowrap;
    margin: 10px 30px;
    color: white;
    text-decoration: none;
    font-size:2em;
}

.logo-menu{
    border-bottom: 5px solid #22A39F;
    border-radius: 10px;
}

.items-menu{
    text-align: right;
    width: 100%;
}

.items-menu a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: inline-flex;
    margin: 0 10px;
}

.items-menu a.contact-btn{
    background-color: black;
    padding: 10px;
    border-radius: 20px;
}

.items-menu a:hover{
    border-bottom: 2px solid #22A39F;
    transform: scale(1.2);
}

.intro{
    text-align: center;
    color: white;
    font-size: larger;
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;
}

.apresentation{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: larger;
}

.apresentation img{
    height: 300px;
    box-sizing: border-box;
}

.apresentation .text{
    margin-top: 50px;
}
.titleintro{
    text-align: center;
    padding: 10px 0;
    font-size: 1.5em;
}

.flexboxbegin{
    display: flex;
    justify-content: center;

}

.titlewho{
    width: fit-content;
    font-size: 1.5em;
    border-bottom: 5px solid #22A39F;
    border-radius: 10px;
}

#whyus{
    display: flex;
    background-color: #04222f;
    padding-bottom: 50px;
}

#whyus .text{
    display: flex;
    width: 25%;
    margin-left: 20%;
    height: 500px;
    vertical-align: middle;
    font-size: 4em;
    color: white;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin-right: 70px;
}

#whyus .circlebox{
    border-bottom: 10px solid #22A39F;
    display: flex;
    background-color: #F3EFE0;
    width: 500px;
    height: 500px;
    border-radius:50%;
    text-align: center;
    line-break: loose;
    align-items: center;
    font-size: 1.75em;
}

#begin{
    display: flex;
    background-color: #04222f;
    justify-content: center;
}

.box{
    border: 10px solid #F3EFE0;
    border-radius: 100px;
    background-color: #F3EFE0;  
    width: 75%;
}

.people img{
    height: 150px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    border-bottom: 4px solid #22A39F;
    border-radius: 150px;
}

.people{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.people .up .cj, .people .up .bevic{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.people .up{
    margin-bottom: 10px;
    display: flex;
}

.people .down{
    display: flex;
}

.people .box1, .people .box2, .people .box3{
    margin-bottom: 20px; 
}

.people .down div{
    display: flex;
} 

.people .down div div{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.people .box3{
    align-items: center;
}
.people hr{
    border-style: none;
    border-top-style: dotted ;
    width: 5%;
    border-width: 5px;
    border-color: grey;
    margin-bottom: 20px;
}

footer{
    height: 100px;
    background-color: #04222f;
    color: white;
    padding: 0 10px;
    padding-top: 70px;
}

@media screen and (max-width: 768px){
    .center{
        text-align: center;
    }
    .menu{
        display: flex;
        flex-direction: column;
    }
    .items-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .items-menu a{
        margin-top: 30px;
    }
    .box{
        border: 10px solid #F3EFE0;
        border-radius: 1000px;
        background-color: #F3EFE0;  
        width: 100%;
    }
    .people .down{
        display: flex;
        flex-direction: column;
    }
    .people .luiz{
        width: 100%;
    }
    .people hr{
        width: 0;
    }
}
